.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 380px;
    height: 437px;
    // background-color: aqua;
    border-radius: 5px;
}

.reviews__section-title {
    margin-bottom: 30px;
}

.form_content {
    padding: 20px 20px 0 20px;
}

.input {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-bottom: 20px;
    border: none;
    padding: 13px 20px;
}

.input-area {
    height: 140px;
    resize: none;
}
.form-buttons {
    font-size: 0;

    * {
        font-size: 16px;
    }
}
.form-btn {
    width: 50%;
    border: none;
    color: #ffffff;
    padding: 14px 0;
    cursor: pointer;
}

.form-btn_left {
    border-radius: 0 0 0 5px;
    border-right: 1px solid #dee3e7;
    background-color: rgba(#26c9b2, .85);
}

.form-btn.right {
    border-radius: 0 0 5px 0;
    background-color: rgba(#26c9b2, .30);
}

.input::placeholder {
    color: rgba($main--darken, .5);
}
