.title {
    color: $main-font-color;
    font-size: 63px;
    font-family: 'bernier_regularregular';
    padding: 2.8125rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

  &:after, &:before {
    content: "";
    display: block;
    background: rgba($main-font-color, .2);
    width: 22px;
    height: 5px;
  }

  &:after {
    margin-left: 20px;
  }

  &:before {
    margin-right: 20px;
  }

  @include phones() {
    &:after, &:before {
      display: none;
    }
  }
}

#white {
    &:after, &:before {
      background: rgba(#fff, .2);
    }
}
