.works-head,
.about,
.blog-head {
	position: relative;
}

.works-head {
    background: $light-beige;
    text-align: center;
}

.triangle_position {
	position: absolute;
	bottom: 100%;
	width: 50%;
	height: 110px;
}
.works-head__fill {
    fill: $light-beige;
}
.blog-head__fill {
    fill: #ffffff;
}


.triangle_left {
	left: 0;
}

.triangle_right {
	right: 0;
}

.about__fill_left {
	fill: $white;
}
.about__fill_right {
	fill: $beige;
}
