footer.footer
    .footer__top
        block navigationEndSocial
            include ../common/_navigation
            include ../common/_social        
    .footer__bottom
        .about-text
            | Я веб разработчик из Москвы, и этот сайт я сделал в рамках обучения в школе онлайн образования Loftscool.
        .copyright
            | &copy; Шелгунов Александр | Создано с любовью в Loftscool | 2017
