block content
    include _social
    .three-col
        .hamburger#hamburger
            span.ham-line
            span.ham-line
            span.ham-line
    a(href="").page-down
    .hero__title
        img(src="..", alt="").section-title
        .user.hero__user-block
            .user__photo
            .user__name
            .user__desc
            
    
