block content
    include _social
    a(href="#").logon__link
        | Авторизация
    a(href="").page-down
    .hero__title
        img(src="..", alt="").section-title
        .user.hero__user-block
            .user__photo
            .user__name
            .user__desc
            
    
