section.section.hero
    .hero__bg
        img(src="img/bg/portfolio.jpg" alt="").hero__bg-img

    .hero__container
        svg.hero__pic
            use(xlink:href=`img/icons/icon/portfolio_header.svg#potfolio`)

        .user
            .user__pic-container
                img(src="img/avatars/me1.jpg" alt="").user__pic
            .user__name Шелгунов Александр
            .user__desc Личный сайт разработчика
