extends ../_template

block variables
    - var title = 'Мои Работы'

block content
    
    section.section.hero#hero
        block head-line
            include ../common/_header-line
        include ../common/_user

        a(href="#" data-link="#works").page-down
            img(src="img/icons/icon/arrow_down.svg", alt="").page-down__icon

    section.section.works-head#works-head
        svg(viewbox="0 0 1000 110" preserveAspectRatio="none").triangle_position.works-head__fill.triangle_left
            polygon(points="0,0 0,110 1000, 110")
        svg(viewbox="0 0 1000 110" preserveAspectRatio="none").triangle_position.works-head__fill.triangle_right
            polygon(points="0,110 1000,110 1000,0")   
        .title.portfolio__section-title
            svg.works-head__pic
                use(xlink:href="img/icons/icon/works_header.svg#works-head")
            | Мои работы     
        


    section.section.works#works
        .works__content
            .works__left
                .works-slider__content
                    .works-slider__content-wrapper
                        .works-slider__display
                            img(src="" alt="").works-slider__display-pic
                        .works-slider__item-about
                            .works__subtitle
                                .subtitle
                            .works__content-desc
                            .works__content-btn
                                a(href="#").works__content-view
                                    i.fa.works__content-view-icon.fa-link Посмотреть сайт
            .works__right
                .works-slider
                    .works-slider__controls
                        a(href="#").works-slider__control-btn.works-slider__control-btn_left
                            ul.works-slider__control-list
                                li(data-full="./img/content/slider/1.png" data-title="Агентство интернет решений ITLoft;" data-skills="html5, CSS3, javascript, php" data-link="#").works-slider__control-item
                                    img(src="./img/content/slider/1.png").works-slider___control-img
                                li(data-full="./img/content/slider/2.png" data-title="Школа онлай-образования LoftSchool " data-skills="html5, CSS3, javascript, php" data-link="#").works-slider__control-item
                                    img(src="./img/content/slider/2.png").works-slider___control-img
                                li(data-full="./img/content/slider/3.png" data-title="Портал обучающих уроков LoftBlog" data-skills="html5, CSS3, javascript, php" data-link="#").works-slider__control-item
                                    img(src="./img/content/slider/3.png").works-slider___control-img
                                li(data-full="./img/content/slider/4.png" data-title="Сайт Атма йога" data-skills="html5, CSS3, javascript, php" data-link="#").works-slider__control-item
                                    img(src="./img/content/slider/4.png").works-slider___control-img
                        a(href="#").works-slider__control-btn.works-slider__control-btn_right

    section.section.reviews
        .head-title
            h1.head-title__text.lines Что обо мне говорят
            svg.head-title__img
                use(xlink:href="/img/icons/icon/about_header1.svg#head-title")        
    
        .reviews-content 
            .review
                blockquote.reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                .reviews__autor
                    .avatar
                        img(src="img/avatars/Dima.jpg")
                    .autor
                        p.autor__name Ковальчук Дмитрий
                        p.autr__desc Основатель Loftschool
            .review
                blockquote.reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
                .reviews__autor
                    .avatar
                        img(src="img/avatars/Vova.jpg")
                    .autor
                        p.autor__name Сабанцев Владимир
                        p.autr__desc Преподаватель    

        .contact-form
            form.contact
                .contact-form__bg
                .contact-form__content
                    h3.contact-form__title.lines Связаться со мной
                    input(type="text" name="name" placeholder="Имя").contact-form-input
                    .tooltip.hide Имя должно быть длиннее 2х символов и не содержать спец символов
                    input(type="email" name="email" placeholder="Email").contact-form-input
                    .tooltip.hide Email имеет неверный формат. Например: ex@mp.le
                    textarea(name="mail" placeholder="Ваше сообщение").contact-form-input.contact-form-input_textarea
                    .tooltip.hide Ваше сообщение должно быть не короче 10 символов
                ul.form-buttons
                    li.form-buttons__button.form-buttons__button_even
                        button.form-buttons__button-content#form-submit Отправить
                    li.form-buttons__button.form-buttons__button_even
                        button.form-buttons__button-content#form-clear Очистить
        
        include ../common/_footer
